.mission{
   display: flex;
   padding: 9rem 7.5rem;
   align-items: center;
   justify-content: space-between;
   gap: 10rem;
}

.mission-btn{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
}

.mission-btn button{
    width: 14rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #000000;
    color: #FFFFFF;
    border-radius: 32px;
    border: none;
} 

.mission-btn button:nth-child(1) {
    padding: .7rem .5rem;
}

.mission-btn button:nth-child(2) {
    padding: .5rem .5rem;
}

.mission-btn button span {
    font-weight: 800;
    font-size: 1.1rem;
}

.right, .left{
    position: relative;
}

.walking{
    position: absolute;
    top: 5rem;
    right: 5rem;
}

@media (max-width: 375px) {
    .mission{
        display: flex;
        padding-top: 5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
     }
     .missionText {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .mission-btn{
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: 1rem 2rem;
    }
    .mission-btn button span {
        font-weight: 800;
        font-size: 0.8rem;
    }
    .mission-btn button{
        width: 11rem;
    } 
    .walking{
        width: 100%;
        position: absolute;
        top: 3.5rem;
        right: 2.5rem;
    }
    .hands{
        width: 100%;
        object-fit: contain;
    }
}