.mission{
    width: 100%;
   display: flex;
   padding: 9rem 7.5rem;
   align-items: center;
   justify-content: space-between;
   gap: 10rem;
}
.mission-title{
        padding-bottom: 1.5rem;
        font-family: "Mulish";
        font-weight: 700;
        font-size: 2.2rem; 
        line-height: 2.8rem; 
        color: #000000;
}
.mission-text{
    padding-bottom: 1.5rem;
    font-family: "Mulish";
    font-weight: 400;
    font-size: 1.1rem; 
    line-height: 1.4rem; 
    color: #000000;
}
.mission-btn{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
}
.mission-btn button{
    width: 14rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #000000;
    color: #FFFFFF;
    border-radius: 32px;
    border: none;
} 
.mission-btn button:nth-child(1) {
    padding: .7rem .5rem;
}
.mission-btn button:nth-child(2) {
    padding: .5rem .5rem;
}
.mission-btn button span {
    font-weight: 800;
    font-size: 1.1rem;
}
.right, .left{
    position: relative;
}
.walking{
    position: absolute;
    top: 5rem;
    right: 5rem;
}

@media (max-width: 1120px) {
    .mission{
       flex-wrap: wrap;
       justify-content: center;
     }
    .walking{
        width: 100%;
        position: absolute;
        top: 3.5rem;
        right: 2.5rem;
    }
    .hands{
        width: 100%;
        object-fit: contain;
    }

}

@media (max-width:550px) {
    .mission-btn button span {
        font-weight: 800;
        font-size: 0.8rem;
    }
    .mission-btn button{
        width: auto;
    } 
    .btn-text {
        font-size: .5rem;
    }
}

@media (max-width: 375px) {
    .mission{
        display: flex;
        padding-top: 5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
     }
     .mission-title{
        font-size: 1.5rem; 
        text-align: center;
    }
    .mission-text{
            font-size: 0.75rem;
            line-height: 0.9rem;
            text-align: center;
    }
     .missionText {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .walking{
        width: 100%;
        position: absolute;
        top: 3.5rem;
        right: 2.5rem;
    }
    .hands{
        width: 100%;
        object-fit: contain;
    }
}