.textBox {
    position: relative;
    padding-bottom: 20rem;
}

.campaign {
    padding: 0rem 15rem;
    height: 100%;
}

.campaign-title {
    padding-bottom: 2rem;
    font-family: "Mulish";
    font-weight: 800;
    font-size: 2.2rem;
    line-height: 2.8rem;
    text-align: center;
    color: #449183;
}

.campaignBoxes {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    text-align: center;
}

.campaign-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 200px;
    gap: 1rem;
}

@media (max-width: 1120px) {
    .campaign {
        padding: 0rem 1rem;
    }
}

@media (max-width: 375px) { 
    .campaign {
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .campaign-title {
        margin-top: 5rem;
        padding: 5rem 4rem;
        font-size: 1.5rem;
        line-height: 1.8rem;
    }

    .campaignBoxes {
        gap: 2rem;
        text-align: justify;
    }

    .campaign-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex: 1 1 150px;
        gap: 1rem;
    }
}